<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1534</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1573</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1598</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1632</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1661</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1683</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1699</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1700</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1722</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
